@model SalesWebMvc.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<!--Abaixo temos a impressão da mensagem de erro da classe ErrorViewModel e, por seguinte, temos o uso do seu método-->
<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">@Model.Message</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

